﻿@model WebTesis.Models.tickets

@{
    ViewBag.Title = "Details";
}

<h2>Detalles del Ticket</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.problema)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.problema)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.categorias.categoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.categorias.categoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estados.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estados.estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuarios.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuarios.nombre)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Modificar", "Edit", new { id = Model.id_ticket }) |*@
    @Html.ActionLink("Volver a la Lista", "Index")
</p>
