﻿@model IEnumerable<WebTesis.Models.tickets>

@{
    ViewBag.Title = "Index";
}

<h2>Tickets de Asistencia</h2>
<br />

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.problema)*@
            @Html.DisplayName("Nombre Usuario")
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.telefono)*@
            @Html.DisplayName("Telefono")
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.correo)*@
            @Html.DisplayName("Correo")
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.fecha)*@
            @Html.DisplayName("Descripcion Problema")
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.categorias.categoria)*@
            @Html.DisplayName("Categoria")
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.estados.estado)*@
            @Html.DisplayName("Fecha de Ticket")
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.usuarios.nombre)*@
            @Html.DisplayName("Estado ticket")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.usuarios.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.problema)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.categorias.categoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estados.estado)
            </td>
            <td>
                @if (!Session["tipouser"].Equals(4))
                {
                    @Html.ActionLink("Modificar | ", "Edit", new { id = item.id_ticket })
                                                                                           
                }
                @*@Html.ActionLink("Modificar", "Edit", new { id = item.id_ticket }) |*@
                @Html.ActionLink("Detalles", "Details", new { id = item.id_ticket })
                @*@Html.ActionLink("Eliminar", "Delete", new { id = item.id_ticket })*@
            </td>
        </tr>
    }

</table>
