﻿@{
    ViewBag.Title = "Home Page";

}

    <div class="jumbotron"> @*jumbotron*@
            <img src="~/imagenes/logo.png" width="250" height="250" align="right" />
            <h1>Soporte Técnico Automatizado</h1>
        </div>

        <div class="row">
            @if (Session["tipouser"].Equals(4))
            {
                <div class="col-md-3">

                    <h2>@Html.ActionLink("Administracion", "Index", "Error")</h2>
                    <p>
                        Area de Administración del sitio para crear usuarios
                    </p>
                </div>
            }
            <div class="col-md-3">
                <h2>@Html.ActionLink("Tickets", "Index", "tickets")</h2>
                <p>Area de visualizacion de los tickets enviados a traves de la aplicación móvil</p>
            </div>

            <div class="col-md-3">
                @if (Session["tipouser"].Equals(4))
                {
                    <h2>@Html.ActionLink("Datos de Aprobacion", "Index", "aprobacion")</h2>
                    <p>Area de estadisticas de aprobación aplicación móvil</p>
                }
            </div>
        </div>
