﻿@model WebTesis.Models.aprobacion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>aprobacion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.aprueba)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aprueba)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.categorias.categoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.categorias.categoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuarios.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuarios.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_aprobacion }) |
    @Html.ActionLink("Back to List", "Index")
</p>
