﻿@model IEnumerable<WebTesis.Models.usuarios>

@{
    ViewBag.Title = "Index";
}


<h2>Lista de Usuarios</h2>
<br />

<p>
    @Html.ActionLink("Crear Nuevo Usuario", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.nombre)*@
            @Html.DisplayName("Nombre Usuario")
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.usuario)*@
            @Html.DisplayName("Usuario")
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.pass)*@
            @Html.DisplayName("Contraseña")
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.tipo_usuario.usuario)*@
            @Html.DisplayName("Tipo de Cuenta")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pass)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tipo_usuario.usuario)
            </td>
            <td>
                @Html.ActionLink("Modificar", "Edit", new { id = item.id_usuario }) |
                @*@Html.ActionLink("Details", "Details", new { id=item.id_usuario }) |*@
                @Html.ActionLink("Eliminar", "Delete", new { id = item.id_usuario })
            </td>
        </tr>
    }

</table>
