﻿@model IEnumerable<WebTesis.Models.aprobacion>

@{
    ViewBag.Title = "Index";

}

<h2>Aprobacion de la Aplicación Soporte Automatizado</h2>
<br />

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@

<table class="table">
    <tr>
        <th>
            Hardware:
        </th>
        <th>
            Software
        </th>
    </tr>

    <tr>
        <td>
            Aprueba Solucion: <h2> @Html.Action("HardwareSI", "aprobacion") </h2>
        </td>
        <td>
            Aprueba Solucion: <h2> @Html.Action("SoftwareSI", "aprobacion") </h2>
        </td>
    </tr>

    <tr>
        <td>
            No Aprueba Solucion: <h2> @Html.Action("HardwareNO", "aprobacion") </h2>
        </td>
        <td>
            No Aprueba Solucion: <h2> @Html.Action("SoftwareNO", "aprobacion") </h2>
        </td>
    </tr>
</table>



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.usuarios.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.categorias.categoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.aprueba)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.usuarios.nombre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.fecha)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.categorias.categoria)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.aprueba)
    </td>
    @*<td>
        @Html.ActionLink("Edit", "Edit", new { id = item.id_aprobacion }) |
        @Html.ActionLink("Details", "Details", new { id = item.id_aprobacion }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.id_aprobacion })
    </td>*@
</tr>
}

</table>
