﻿@model IEnumerable<WebTesis.Models.categorias>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.categoria)*@
            @Html.DisplayName("Categoria")
        </th>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.categoria)
        </td>
        <td>
            @Html.ActionLink("Modificar", "Edit", new { id=item.id_categoria }) |
            @*@Html.ActionLink("Details", "Details", new { id=item.id_categoria }) |*@
            @Html.ActionLink("Eliminar", "Delete", new { id=item.id_categoria })
        </td>
    </tr>
}

</table>
